{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}
<div class="navigation">
    <div class="logo">
      <a class="no-underline" href="{% url 'index' %}">
        Instagram
      </a>
    </div>
    <div class="navigation-search-container">
      <form action="{% url 'search_term' %}" role="search">
        {% csrf_token %}
        <input class="search-field" type="search" name="user" placeholder="Search">
        <button type="submit" class="btn btn-default">
          <i class="fas fa-search"></i>     
        </button>
      </form>
      <div class="search-container">
        <div class="search-container-box">
          <div class="search-results">
          </div>
        </div>
      </div>
    </div>
    <div class="navigation-icons">
      <a href="{% url 'post_image' %}" class="navigation-link">
        <i class="fas fa-plus-circle"></i>   
        </a>
      <a class="navigation-link notifica">
        <i class="far fa-heart">
          <div class="notification-bubble-wrapper">
            <div class="notification-bubble">
              <span class="notifications-count">99</span>
            </div>
          </div>
        </i>
      </a>
      <a href="{% url 'profile_list' %}" class="navigation-link">
        <i class="far fa-user-circle"></i>
      </a>
      <a href="{% url 'logout' %}" id="signout" class="navigation-link">
        <i class="fas fa-sign-out-alt"></i>
      </a>
    </div>
  </div>
  